/* Not doing in this breakpoin for now */

/* Till now done 03/10 */

@media (max-width : 1054px) {}




@media (max-width : 847px) {


    #change_content_parent {
        font-size: 2rem;
    }


    #about>div {
        flex-direction: column-reverse;
    }


    #about>.bottomIDo {
        align-items: center;
        flex-direction: column;
    }


    #about>.bottomIDo>div {
        width: unset;
    }

    #about>.bottomIDo>div>iframe {
        height: 70vh;
        width: 65vh;
    }

    #skill {
        height: auto;
    }


    #skill>div:last-child {
        flex-direction: column;
    }


    #skill>div>.right {
        display: none;
    }

    #projects {
        margin:  0;
    }

    #projects>h2{
        margin-top: 0vh;
    }

    #contect>#contect_main_content {
        flex-direction: column;
    }


    #goto_top {
        left: 85%;
    }

}





@media (max-width : 723px) {


    #change_content_parent {
        font-size: 1.7rem;
    }


    #about>.bottomIDo>div {
        width: 98%;
    }

    #projects>div {
        width: 98%;
    }

    #projects>#project_show {
        padding: 13vh 2vh;
        margin: 5vh 0;
    }

    #project_show>h2 {
        font-size: 6.5rem;
        letter-spacing: 3px;
    }


    
    .careted_div_by_js {
        height: 200px;
        width: 150px;
    }


    #contect>div>.left {
        width: 75%;
    }

    #contect>div>.right {
        width: 75%;
    }


}





@media (max-width : 440px) {

    nav {
        justify-content: center;
        align-items: end;
        flex-direction: column;
        padding: 1vh 0;
        height: fit-content;
    }

    nav>#show_menu_btn {
        display: block;
        margin: 0 1.5vh;
    }


    nav>ul {
        height: 3px;
        /* height: max-content; */
        width: 25vh;

        display: block;
        border: 0px;
        backdrop-filter: blur(20px) saturate(1.7);
        border-radius: 0;
        margin: 0;
        font-size: 1.3rem;
        border-radius: 2vh;
        padding: 0;
    }


    #change_content_parent {
        font-size: 1rem;
    }


    #about>.bottomIDo .icon_hold {
        width: 98%;
    }


    #about>div p{
        font-size: 1rem;
    }

    #about>.bottomIDo>div>iframe {
        height: 50vh;
        width: 45vh;
    }
    


    #skill>div>.left {
        padding: 5vh 2vh;
    }

    #skill>div>.left>div>progress {
        width: 20vh;
    }


    #projects>div {
        padding: 7vh 2vh;
    }


    #projects>#project_show {

        padding: 15vh 2vh;
        margin: 5vh 0;
    }


    #project_show>h2 {
        font-size: 4.5rem;
        letter-spacing: 1px;
    }


    .careted_div_by_js {
        height: 180px;
        width: 130px;
    }


    #contect>img{
  
        width: 7vh;
    }

    #contect>div>.left {
        width: 90%;
    }

    #contect>div>.right {
        width: 90%;
    }


    #resumeBtn{
        font-size: 1rem;
    }


    .social_icon_hold {
        width: 100%;
    }



}


@media (max-width : 283px) {

    #change_content_parent {
        font-size: .7rem;
    }

    #about>div>.right {
        height: 30vh;
        width: 30vh;
    }

    #about>div>.right>img {
        width: 32vh;
    }

    #about>.bottomIDo>div>iframe {
        width: 35vh;
        height: 35vh;
        border-radius: 50%;
    }
    

    #skill>div>.left {
        padding: 3vh 1vh;
    }

    #skill>div>.left>div>progress {
        width: 15vh;
    }

    #project_show>h2 {
        font-size: 3rem;
        letter-spacing: 1px;
    }

    .careted_div_by_js {
        height: 160px;
        width: 110px;
    }


    #contect>div>.left {
        width: 100%;
    }

    #contect>div>.right {
        width: 100%;
    }



    .social_icon_hold {
        width: 100%;
    }



    #goto_top {
        left: 75%;
    }
}