/* Not doing in this breakpoin for now */

/* Till now done 03/10 */

@media (max-width : 1054px) {}




@media (max-width : 847px) {


    #about>div {
        flex-direction: column-reverse;
    }


    #about>.bottomIDo {
        align-items: center;
        flex-direction: column;
    }

    #skill {
        height: auto;
    }


    #skill>div:last-child {
        flex-direction: column;
    }


    #skill>div>.right {
        display: none;
        /* margin-left: 0; */
    }


    #goto_top {
        left: 80%;
    }

}





@media (max-width : 723px) {

    #about>.bottomIDo>div {
        width: 98%;
    }

    #projects>div {
        width: 98%;
    }

    #projects>#project_show {

        padding: 13vh 2vh;
        margin: 5vh 0;
    }

    #project_show>h2 {
        font-size: 6.5rem;
        letter-spacing: 3px;
    }

}





@media (max-width : 440px) {

    nav {
        justify-content: center;
        align-items: end;
        flex-direction: column;
        padding: 1vh 0;
        height: fit-content;
    }

    nav>#show_menu_btn {
        display: block;
        margin: 0 1.5vh;
    }


    nav>ul {    

        height: 3px;

        /* height: max-content; */

        display: block;
        width: fit-content;

        border: 0px;
        backdrop-filter: blur(20px) saturate(1.7);

        border-radius: 0;
        margin: 0;
        font-size: 1.3rem;
        border-radius: 2vh;
        padding: 0;
    }


    #change_content_parent {
        font-size: 1.7rem;
    }


    #about>.bottomIDo .icon_hold {
        width: 98%;
    }


    #skill>div>.left>div>progress {
        width: 20vh;
    }


    #projects>div {
        padding: 7vh 2vh;
    }


    #projects>#project_show {

        padding: 15vh 2vh;
        margin: 5vh 0;
    }


    #project_show>h2 {
        font-size: 4.5rem;
        letter-spacing: 1px;
    }


}


@media (max-width : 283px) {

    #change_content_parent {
        font-size: 1.2rem;
    }

    #skill>div>.left>div>progress {
        width: 15vh;
    }

    #project_show>h2 {
        font-size: 3.5rem;
        letter-spacing: 1px;
    }
}