:root {
    /* --theme: #FFB000; */
    --theme: #00008b;
    --text: #000000;
    --Shadow_of_bulb: "visible";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s;
}


*::-webkit-scrollbar {
    width: 7px;
}


*::-webkit-scrollbar-track {
    width: 7px;
    background: rgb(238, 174, 202);
    background: linear-gradient(0deg, #aeeebccc 30%, #94e9dedb 49%);
}


*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 100px;
}


body {
    /* height: 100Vh; */
    width: 100%;
    /* position: relative; */
    /* background: rgb(238, 174, 202); */
    /* background: linear-gradient(90deg, #aeeebccc 30%, #94e9dedb 49%); */

    /* background-color: #d1ffec; */
    /* background-color: white; */
    background: linear-gradient(150deg, white 20%, #fef8cc 5%, white 50%);

    /* background: linear-gradient(150deg, black 20%,#812f92 5%,  black 50% ); */
    /* color: white; */

    /* color: var(--theme); */

    transition: all 0.5s;
    text-align: center;
}


hr {
    color: var(--theme);
}


h1 {
    font-size: 4rem;
    text-align: center;
    color: var(--theme);
    margin-top: 10vh;
}




/*   Tracker div position should be fixed not absolute ------->  */

#tracker {
    height: 12px;
    width: 12px;
    background-color: cyan;
    visibility: hidden;

    position: absolute;

    position: fixed;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    z-index: 999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    mix-blend-mode: exclusion;
}


#dark_div_hold {
    position: absolute;
    top: 0vh;
    left: 0vh;

    height: 13vh;
    width: 13vh;
    /* border: 1px solid red; */
    /* background-color: rebeccapurple; */

    z-index: 99999;

}


#make_dark_div {
    height: 8vh;
    width: 6vh;
    background-color: yellow;
    border: 1px solid var(--text);
    /* outline: 1px solid white; */

    position: absolute;
    top: 1vh;
    left: 3vh;
    border-radius: 30%;
    /* border-radius: 40%; */
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: 0 0.5vh;

    animation: dark_div_ani 5s linear infinite reverse;
    /* height: fit-content; */
    /* background-color: var(--theme);
    color: white; */
    z-index: -20;
    /* overflow: hidden; */
}

#make_dark_div::before {
    content: "";
    height: 6vh;
    width: 20%;
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;

    position: absolute;
    top: -6vh;
    left: 50%;

    transform: translate(-50%, 0);
    z-index: -20;
}




#make_dark_div::after {
    content: "";
    height: 10px;
    width: 70%;
    background-color: orange;
    visibility: var(--Shadow_of_bulb);
    position: absolute;
    bottom: -10px;
    /* border-radius: 50%; */
    border-radius: 50%;

    transform: rotateX(66deg);


    left: 15%;
}




/* Animation for dark mode div or toggel btn -->💡 */

@keyframes dark_div_ani {

    /* top */
    0% {
        top: 1vh;
        left: 3vh;
    }


    /* left */
    25% {
        top: 3vh;
        left: 5vh;
    }


    /* bottom */
    50% {
        top: 5vh;
        left: 3vh;
    }


    /* right */
    75% {
        top: 3vh;
        left: 1vh;
    }


}




/* This class in span tag used many time to gie focus to user. */

.focus_span {
    color: white;
    padding: 0 1vh;

    background-image: url("http://res.cloudinary.com/dlvq8n2ca/image/upload/v1695056648/bhlwo3nor25fhywcvwfi.png");
    background-size: cover;

    transition: all 0.2s;
    filter: drop-shadow(2px 2px 2px white);
}


.focus_span:hover {
    /* background-image: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 100px; */


    background-blend-mode: exclusion;

    background-origin: padding-box;

    filter: drop-shadow(2px 2px 2px black);
}




nav {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    position: fixed;
    top: 5px;
    z-index: 9999;
}


nav>#show_menu_btn {
    display: none;
}



nav>ul {
    width: 50vh;
    margin: 2vh;
    backdrop-filter: blur(20px) saturate(1.7);

    border: 1px solid white;
    padding: 1vh 2vh;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;

    position: relative;
    overflow: hidden;
}


/* This div present to show scoll value as width */
#scrool_percent {
    background-color: #17c5c8;
    height: 2px;
    /* width: 100%; */

    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100px;
}



nav>ul>li {
    transition: .3s all;
    padding: 0 0.5vh;
    border: 2px solid transparent;
    transition: 0.2s all;
}

nav>ul>li:is(:hover, :active) {
    border: 2px solid #89e5ff;
    border-radius: 100px;
    backdrop-filter: blur(20px) saturate(1.7);
    font-weight: bold;
}


nav a {
    text-decoration: none;
    /* color: black; */
    /* color: darkmagenta; */
    color: #17c5c8;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}



/* Writting animation div  */

#change_content_parent {
    margin-top: 2vh;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: var(--theme);
}


#change_content {
    color: red;
    margin-left: 7px;
    border-right: 3px solid;


    overflow: hidden;
    /* width: 20ch; */
    /* animation: typing 4s infinite steps(20); */
    white-space: nowrap;
}





#about>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--theme);
    margin: 8vh 0;
    position: relative;
}


#about>div>.left {
    border-left: 1px solid;
    border-radius: 1vh;
    padding-left: 2vh;
    height: 37vh;
    margin: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



#about>div>.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    height: 38vh;
    width: 38vh;
    border-radius: 47% 53% 43% 57% / 65% 35% 65% 35%;
    background-color: var(--theme);
    border: 1px solid black;
    text-transform: capitalize;

    transition: .7s all;
    position: relative;
    /* transform: translate3d(0px, 0px, -250px); */
}


#about>div>.right:hover {
    transform:
        perspective(750px) translate3d(0px, 0px, -250px) rotateX(27deg) scale(0.9, 0.9);
    cursor: move;
}


#about>div>.right>img {
    width: 42vh;
    object-fit: cover;
    margin-top: auto;

    filter: drop-shadow(5px 5px 5px white);

    border-radius: 5%;
    position: relative;
    top: -5%;
}


#about>.bottomIDo {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}


#about>.bottomIDo>div {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    margin: 2vh;
}


#about>.bottomIDo>div:last-child {
    border-right: 1px solid;
    border-radius: 1vh;
}


#about>.bottomIDo>div>img {
    width: 40vh;
    border-radius: 10vh;
}



#about>.bottomIDo .icon_hold {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    /* background-color: red; */
}



#about>.bottomIDo .icon_hold>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about>.bottomIDo .icon_hold>div span {
    font-size: 1rem;
    margin: 0.5vh;
}



#about>.bottomIDo .icon_hold i {
    /* color: black; */
    display: inline-block;
    font-size: 3.5rem;
    position: relative;
    margin: 0 2vh;
}



#about>.bottomIDo .icon_hold i::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme);
    border-radius: 2vh;
    height: 2px;
    width: 5px;
    transition: 0.7s all;
    z-index: -10;
}


#about>.bottomIDo .icon_hold i:hover::after {
    opacity: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    border: 1px solid var(--theme);
}



#skill {
    height: 70vh;
    position: relative;
    text-align: center;
    color: var(--theme);
    padding-top: 10vh;

}

#skill>div:last-child {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



#skill>div>.left {
    border-left: 1px solid;
    border-radius: 1vh;
    /* width: 20%; */

    padding-left: 2vh;
    /* height: 37vh; */
    margin: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: baseline; */
    text-transform: capitalize;

    padding: 5vh 2vh;
}


#skill>div>.left>hr {
    transform: rotate(-10deg);
}



#skill>div>.left>div {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: rotate(-10deg);

}




#skill>div>.left>div:hover {
    scale: 1.4;
}




#skill>div>.left>div>progress {
    height: 5vh;
    width: 35vh;
    margin: 0 .5vh;
}



#skill>div>.right {
    /* width: 40%; */
    margin-left: 20vh;
}



#projects {
    min-height: 70vh;
    margin: 10vh 0;
    padding-top: 10vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
}



#projects>div {
    width: 95%;
    padding: 7vh;

    /* background-color: red; */
    border-right: 1px solid var(--theme);
    border-radius: 1vh;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#projects .project_card {
    border-radius: 1vh;
    margin: 2vh;
    margin-top: 5vh;
    height: 45vh;
    width: 40vh;
    /* aspect-ratio: 1/1; */
    border: 1px solid;
    overflow: hidden;
    position: relative;

    transition: 0.5s all;
    /* box-shadow: 5px 5px 10px gray; */
    /* transform: rotate(-3deg); */

}


#projects .project_card:nth-child(2n+1) {
    box-shadow: -5px 5px 10px gray;
    transform: rotate(-3.5deg);
}

#projects .project_card:nth-child(2n+0) {
    box-shadow: 5px 5px 10px gray;
    transform: rotate(3.5deg);
}

/* Below also working fine -----> (odd) and (even) in :nth-child pseudo element  */


/* #projects .project_card:nth-child(odd){
    box-shadow: -5px 5px 10px gray;
    transform: rotate(-3.5deg);
}

#projects .project_card:nth-child(even){
    box-shadow: 5px 5px 10px gray;
    transform: rotate(3.5deg);
} */



#projects .project_card:hover {
    box-shadow: 0px 0px 10px gray;
    transform: rotate(0deg);
}


#projects .project_card::after {
    content: "";
    height: 3px;
    width: 0%;
    background-color: cyan;
    position: absolute;
    left: 0;
    bottom: 0px;

    transition: 0.5s all;
}


#projects .project_card:hover::after {
    width: 100%;
}


.project_card>img {
    /* object-fit: cover; */
    width: inherit;

}

.project_card>div {

    background-color: var(--theme);
    color: white;
    position: absolute;
    bottom: -100%;

    padding-bottom: 1vh;

    transition: .5s all;
}

.project_card:hover>div {
    /* top: initial; */
    bottom: 0;
}


#projects a {
    color: var(--theme) !important;
}








#projects>#project_show {
    /* border: 1px solid red; */
    /* background-color: red; */
    /* width: 100%; */
    border: 0;
    overflow: hidden;

    flex-direction: column;
    margin: 5vh;
    padding: 10vh;
    position: relative;
}


/* main and Big Heading for hover */

#project_show>h2 {
    font-size: 10rem;
    letter-spacing: 5px;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1619005434452-92e854f14fea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sb3JmdWxsfGVufDB8fDB8fHww&w=1000&q=80");
    background-repeat: repeat;
    background-size: cover;

    /* background-color: red; */
    overflow: hidden;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--text);

}



#project_show>h2::selection {
    color: transparent;
}




/* Some class created of JS */
/* This style for created div ---->   */

.careted_div_by_js {
    height: 220px;
    width: 170px;
    /* border: 1px solid red; */
    /* background-color: red; */
    z-index: 99999;

    transition: .5s all;
    position: fixed !important;

    /* top: 0;
    left: 0; */
    /* overflow: hidden; */
}


.careted_div_by_js img {

    position: relative;

    border-radius: 3%;
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}





#contect {
    /* min-height: 75vh; */
    margin-top: 10vh;
    padding-top: 10vh;

    background-color: var(--theme);
    border-top: 2px solid var(--theme);
    color: white;
}



#contect>#contect_main_content {

    padding: 5vh 2v;
    display: flex;
    justify-content: center;
    align-items: center;

}



#contect>div>.left {
    padding: 2vh;
    /* border: 1px solid; */
    width: 45%;

    display: flex;
    justify-content: center;
}





/* Copy pasted css for contect form (code is mine , so i can copy)*/


.contect_div {
    width: 100%;
    min-height: 60vh;
    /* background-color: #fff; */
    /* border: 1px solid; */
    margin: 5vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .contect_div:hover {
    background-color: white;
    transform: scale(1.015);
    transition: transform 300ms;
} */


.contect_div>.inner {
    /* background-color: #fff; */
    /* background-image: linear-gradient(145deg, #ffffaeaa, transparent , transparent, transparent ,transparent, #fcc6fe85); */

    /* border: 1px solid; */

    height: 100%;
    width: 100%;
    min-height: inherit;
    border-radius: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.contect_div>.inner>.form_div {
    text-align: start;
    padding: 1.5vh 1vh;
    width: 100%;
    border-radius: 2vh;

    border-left: 2px solid cyan;
    /* border: 2px solid var(--theme); */
    /* margin: 0.5vh; */
}


#contect_form {
    display: flex;
    flex-direction: column;
}

#contect_form>h3 {
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 2px;
    text-decoration: underline;
    /* margin-bottom: auto; */
    /* margin-top: 0; */

}


#contect_form>input {
    /* height: 2rem; */
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5vh;
    padding-bottom: 2vh;

    background-color: transparent;
    border: 0;
    border-bottom: 2px solid cyan;
    border-right: 2px solid cyan;
    border-bottom-right-radius: 2vh;
    color: white;

}

#contect_form>input:focus {
    background-color: #83fefe;
}

#contect_form>textarea {
    
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid cyan;
    border-right: 2px solid cyan;
    border-bottom-right-radius: 2vh;
    color: white;

    resize: none;
    font-size: 1.3rem;
    font-weight: bold;
}

#contect_form>textarea:focus {
    background-color: #83fefe;
}

#contect_form>.button {
    /* background-color: blue;
    color: #fff; */
    color: darkcyan;
    font-weight: bolder;
    margin: 1vh 0;
    margin-left: auto;
    margin-right: 2vh;
    width: fit-content;
    font-size: 1.3rem;
    padding: 0.5vh;
    border-radius: 0.5vh;
    border: 1px solid;
    letter-spacing: 3px;
    box-shadow: 4px 4px 3px cyan;
    transition: all .7s ease;

}

#contect_form>.button:hover {
    /* background-color: green;
    color: #fff; */

    border: 1px solid darkcyan;
    box-shadow: -4px 4px 3px cyan;
}

#contect_form>.button:active {
    background-color: #fff;
    color: #fff;
}



#contect>div>.right {
    border-radius: 1vh;
    width: 40%;
    padding: 2vh;
    /* border: 1px solid; */
    text-align: start;

    display: flex;
    flex-direction: column;

}

#contect>div>.right>h3{
    margin-top: 3vh;
    margin-bottom: 1vh;
}


#contect>div>.right>ul{
    list-style: none;
}


.social_icon_hold {
    margin-top: 5vh;
    width: 70%;
    margin: 2vh auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.social_icon_hold>div {

    /* border: 1px solid; */

    display: flex;
    flex-direction: column;
    align-items: center;

}


.social_icon_hold>div>i {
    display: inline-block;
    font-size: 4rem;
    position: relative;
    margin: 0 2vh;
}



.social_icon_hold i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-color: var(--theme);
    border-radius: 2vh;
    height: 2px;
    width: 5px;
    transition: 0.7s all;
    z-index: -10;
}

.social_icon_hold i:hover::after {
    background-color: cyan;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    border: 2px solid var(--theme);
}


.social_icon_hold>div span {
    font-size: 1rem;
    margin: 0.5vh;
}








#footer {
    padding: 5vh 0;
}







/* Below class used in menu by js */
/* 
.menu_nav {
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: max-content;
}


.menu_nav>ul {

    border: 0px ;
    backdrop-filter: blur(0px) saturate(0);
    background-color: transparent;

    border-radius: 0;
    display: block;
    width: fit-content;
    margin: 0;
    font-size: 1.3rem;
    border-radius: 2vh;
}

*/



/* Go to top  */

#goto_top {

    position: fixed;
    left: 95%;
    top: 90%;

    filter: drop-shadow(1px  1px 2px white);

    color: var(--theme);
    transform: scale(3);
    padding: .2vh 0.5vh;

    text-decoration: none;

}



#goto_top:is(:hover, :active, :focus) {
    transform: scale(2.5);
    color: darkgreen;
}